<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" userInstalled="true" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="2.1.0-beta3-build2999" targetFramework="net45" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" userInstalled="true" />
  <package id="xunit.assert" version="2.1.0-beta3-build2999" targetFramework="net45" userInstalled="true" />
  <package id="xunit.core" version="2.1.0-beta3-build2999" targetFramework="net45" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.1.0-beta3-build2999" targetFramework="net45" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.1.0-beta3-build1063" targetFramework="net45" userInstalled="true" />
</packages>