<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="xUnit.net [Local: Core]" value="../../xunit" />
    <add key="xUnit.net [Local: VisualStudio]" value="../../visualstudio.xunit" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="xUnit.net [Local: Core]" value="../../xunit" />
    <add key="xUnit.net [Local: VisualStudio]" value="../../visualstudio.xunit" />
  </activePackageSource>
</configuration>
