<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="xunit" version="99.99.99" targetFramework="wp80" />
  <package id="xunit.abstractions" version="99.99.99" targetFramework="wp80" />
  <package id="xunit.assert" version="99.99.99" targetFramework="wp80" />
  <package id="xunit.core" version="99.99.99" targetFramework="wp80" />
  <package id="xunit.runner.visualstudio.wp8" version="0.99.9" targetFramework="wp80" />
</packages>