[*.cs]
dotnet_diagnostic.xUnit1000.severity = warning
dotnet_diagnostic.xUnit1001.severity = warning
dotnet_diagnostic.xUnit1002.severity = warning
dotnet_diagnostic.xUnit1003.severity = warning
dotnet_diagnostic.xUnit1004.severity = warning
dotnet_diagnostic.xUnit1005.severity = warning
dotnet_diagnostic.xUnit1006.severity = warning
dotnet_diagnostic.xUnit1007.severity = warning
dotnet_diagnostic.xUnit1008.severity = warning
dotnet_diagnostic.xUnit1009.severity = warning
dotnet_diagnostic.xUnit1010.severity = warning
dotnet_diagnostic.xUnit1011.severity = warning
dotnet_diagnostic.xUnit1012.severity = warning
dotnet_diagnostic.xUnit1013.severity = warning
dotnet_diagnostic.xUnit1014.severity = warning
dotnet_diagnostic.xUnit1015.severity = warning
dotnet_diagnostic.xUnit1016.severity = warning
dotnet_diagnostic.xUnit1017.severity = warning
dotnet_diagnostic.xUnit1018.severity = warning
dotnet_diagnostic.xUnit1019.severity = warning
dotnet_diagnostic.xUnit1020.severity = warning
dotnet_diagnostic.xUnit1021.severity = warning
dotnet_diagnostic.xUnit1022.severity = warning
dotnet_diagnostic.xUnit1023.severity = warning
dotnet_diagnostic.xUnit1024.severity = warning
dotnet_diagnostic.xUnit1025.severity = warning
dotnet_diagnostic.xUnit1026.severity = warning
dotnet_diagnostic.xUnit1027.severity = warning
dotnet_diagnostic.xUnit1028.severity = warning
dotnet_diagnostic.xUnit1029.severity = warning
dotnet_diagnostic.xUnit1030.severity = warning
dotnet_diagnostic.xUnit1031.severity = warning
dotnet_diagnostic.xUnit1032.severity = warning
dotnet_diagnostic.xUnit1033.severity = warning
dotnet_diagnostic.xUnit1034.severity = warning
dotnet_diagnostic.xUnit1035.severity = warning
dotnet_diagnostic.xUnit1036.severity = warning
dotnet_diagnostic.xUnit1037.severity = warning
dotnet_diagnostic.xUnit1038.severity = warning
dotnet_diagnostic.xUnit1039.severity = warning
dotnet_diagnostic.xUnit1040.severity = warning
dotnet_diagnostic.xUnit1041.severity = warning
dotnet_diagnostic.xUnit1042.severity = warning

dotnet_diagnostic.xUnit2000.severity = warning
dotnet_diagnostic.xUnit2001.severity = warning
dotnet_diagnostic.xUnit2002.severity = warning
dotnet_diagnostic.xUnit2003.severity = warning
dotnet_diagnostic.xUnit2004.severity = warning
dotnet_diagnostic.xUnit2005.severity = warning
dotnet_diagnostic.xUnit2006.severity = warning
dotnet_diagnostic.xUnit2007.severity = warning
dotnet_diagnostic.xUnit2008.severity = warning
dotnet_diagnostic.xUnit2009.severity = warning
dotnet_diagnostic.xUnit2010.severity = warning
dotnet_diagnostic.xUnit2011.severity = warning
dotnet_diagnostic.xUnit2012.severity = warning
dotnet_diagnostic.xUnit2013.severity = warning
dotnet_diagnostic.xUnit2014.severity = warning
dotnet_diagnostic.xUnit2015.severity = warning
dotnet_diagnostic.xUnit2016.severity = warning
dotnet_diagnostic.xUnit2017.severity = warning
dotnet_diagnostic.xUnit2018.severity = warning
dotnet_diagnostic.xUnit2020.severity = warning
dotnet_diagnostic.xUnit2021.severity = warning
dotnet_diagnostic.xUnit2022.severity = warning
dotnet_diagnostic.xUnit2023.severity = warning
dotnet_diagnostic.xUnit2024.severity = warning
dotnet_diagnostic.xUnit2025.severity = warning

dotnet_diagnostic.xUnit3000.severity = warning
dotnet_diagnostic.xUnit3001.severity = warning

dotnet_diagnostic.CA1050.severity = none
dotnet_diagnostic.CA2211.severity = none

dotnet_diagnostic.CS8321.severity = none

dotnet_diagnostic.IDE0039.severity = none
dotnet_diagnostic.IDE0040.severity = none
dotnet_diagnostic.IDE0051.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.IDE0062.severity = none
dotnet_diagnostic.IDE1006.severity = none
