root = true

[*.cs]
dotnet_diagnostic.xUnit1000.severity = warning
dotnet_diagnostic.xUnit1001.severity = warning
dotnet_diagnostic.xUnit1002.severity = warning
dotnet_diagnostic.xUnit1003.severity = warning
dotnet_diagnostic.xUnit1004.severity = warning
dotnet_diagnostic.xUnit1007.severity = warning
dotnet_diagnostic.xUnit1009.severity = warning
dotnet_diagnostic.xUnit1010.severity = warning
dotnet_diagnostic.xUnit1011.severity = warning
dotnet_diagnostic.xUnit1015.severity = warning
dotnet_diagnostic.xUnit1016.severity = warning
dotnet_diagnostic.xUnit1017.severity = warning
dotnet_diagnostic.xUnit1018.severity = warning
dotnet_diagnostic.xUnit1019.severity = warning
dotnet_diagnostic.xUnit1020.severity = warning
dotnet_diagnostic.xUnit1022.severity = warning
dotnet_diagnostic.xUnit1023.severity = warning
dotnet_diagnostic.xUnit1024.severity = warning
dotnet_diagnostic.xUnit1027.severity = warning
dotnet_diagnostic.xUnit1033.severity = warning
dotnet_diagnostic.xUnit2001.severity = warning
dotnet_diagnostic.xUnit2014.severity = warning
dotnet_diagnostic.xUnit2016.severity = warning
dotnet_diagnostic.xUnit3000.severity = warning
dotnet_diagnostic.xUnit3001.severity = warning
